<ion-header>
  <ion-toolbar>
    <ion-button (click)="logOut()" slot="start" fill="clear">
      <ion-icon name="arrow-undo-outline"></ion-icon>
    </ion-button>
    <ion-title>Formulario de registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>

    <form [formGroup]="formularioRegistro" (keyup.enter)="guardar()">
      
      <ion-item class="ion-margin-bottom">
        <ion-input  placeholder="Correo:"
          formControlName="correo"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-bottom">
        <ion-input  placeholder="Usuario:"
          formControlName="nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input  type="password" 
          placeholder="Contrasena: " formControlName="pass"></ion-input>
      </ion-item>

      <ion-button (click)="guardar()" fill="outline" expand="block" 
        class="ion-margin-top ion-no-margin ">Registrarse</ion-button>

    </form>

  </ion-card-content>
</ion-content>