<ion-header>
  <ion-toolbar>
    <ion-button (click)="back()" slot="start" fill="clear">
      <ion-icon name="arrow-undo-outline"></ion-icon>
    </ion-button>
    <ion-title>Cuenta</ion-title>
  </ion-toolbar>
</ion-header>



<div class="img-wrapper">
  <img src="assets/img/2.webp">
</div>



<ion-content>
  <ion-card>
    <ion-item>
      <ion-label>Usuario : AAAAA AAAAA AAAAA</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Correo : AAAAA@AAAA.COM</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Numero : +569 1234 1234</ion-label>
    </ion-item>
  </ion-card>
</ion-content>


<ion-card-content>
  <ion-button (click)="logOut()" fill="outline" expand="block"  class="register">Eliminar
    Cuenta</ion-button>
</ion-card-content>