<ion-header>
  <ion-toolbar>
    <ion-button (click)="back()" slot="start" fill="clear">
      <ion-icon name="arrow-undo-outline"></ion-icon>
    </ion-button>
    <ion-title>Cuenta</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-card>
    <ion-item>
      <ion-card >
        <img src="assets/img/2.webp" width="75" height="75">
      </ion-card>
    </ion-item>
  </ion-card>


<ion-content>
  <ion-card>
    <ion-item>
      <ion-label class="">Correo : AAAAA@AAAA.COM</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="">Numero : +569 1234 1234</ion-label>
    </ion-item>
  </ion-card>
</ion-content>


  <ion-card-content>
    <ion-button (click)="logOut()" fill="outline" expand="block" color="medium" class="register">Eliminar
      Cuenta</ion-button>
  </ion-card-content>

