<ion-content>
  <ion-row>
    <div>
      <img
        src="https://images.prismic.io/ionicframeworkcom/ac68e1d9-9887-4e5a-9820-9290d06638de_ionic+logo+white+on+blue.png"
        alt="Ionic logo" loading="lazy" class="img1" />
    </div>


    <ion-col size-md="9" size="12" class="welcome">
      <ion-card-content>

        <ion-row>
          <ion-item class="input-redondeado ">
            <ion-input [(ngModel)]="email" size="32" type="text" fill="outline" placeholder="Email:"></ion-input>
            <ion-icon name="mail-outline"></ion-icon>
          </ion-item>
          <ion-item class="input-redondeado">
            <ion-input [(ngModel)]="contrasena" size="32" type="password" placeholder="Password:"></ion-input>
            <ion-icon name="lock-closed-outline"></ion-icon>
          </ion-item>

        </ion-row>
        <ion-button (click)="login()" expand="block" class="login" color="medium">Acceder</ion-button>
        <div class="Forgotpass">
          <ion-button (click)="RecuperarPass()" fill="clear">ForgotPassword?</ion-button>
        </div>

        <div class="ion-text-center">
          <ion-button (click)="Registro()" fill="outline" expand="block" color="medium" class="register">Register</ion-button>
        </div>
      </ion-card-content>
    </ion-col>

  </ion-row>
</ion-content>