ion-card{
    max-width: 370px;
    margin: auto;
    margin-top: 200px;
}

ion-item{
    margin-bottom: 20px;
}

ion-button{
    margin-top: 5px;
    margin-bottom: 5px;
}

.input-redondeado {
    border-radius: 10px;
}