<ion-content>
  <ion-row>
    <div>
      <img
        src="https://images.prismic.io/ionicframeworkcom/ac68e1d9-9887-4e5a-9820-9290d06638de_ionic+logo+white+on+blue.png"
        alt="Ionic logo" loading="lazy" class="img1" />
    </div>


    <ion-col size-md="9" size="12" class="welcome">
      <ion-card-content>

        <form [formGroup]="formularioLogin" (ngSubmit)="ingresar()">

          <ion-item class="input-redondeado ">
            <ion-input size="32" type="text" placeholder="Email:" formControlName="correo"></ion-input>
            <ion-icon name="mail-outline"></ion-icon>
          </ion-item>
          <ion-item class="input-redondeado">
            <ion-input size="32" type="password" placeholder="Password:" formControlName="pass"></ion-input>
            <ion-icon name="lock-closed-outline"></ion-icon>
          </ion-item>

        </form>
        
        <ion-button type="submit"   expand="block" class="login" color="medium" (click)="ingresar()">Acceder</ion-button>

      

        <div class="Forgotpass">
          <ion-button (click)="RecuperarPass()" fill="clear">¿Has olvidado tu contrasena?</ion-button>
        </div>

        <div class="ion-text-center">
          <ion-button (click)="Registro()" fill="outline" expand="block" color="medium"
            class="register">Registrarse</ion-button>
        </div>

      </ion-card-content>
    </ion-col>

  </ion-row>
</ion-content>