ion-content{
    //max-width: 370px;
    margin: auto;
    margin-top: 10px;
    padding-top: 2px;
    
    
}

ion-item{
    margin-bottom: 20px;
}
.a{
    background-color: #313131;
    border-radius: 15px;
}

